.tablacont {
    margin-top: 160px;
    margin-bottom: 200px;
    font-family: "Roboto", sans-serif;
}

.Tabsh {
    background-color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    border: solid rgb(110, 167, 173) 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a {
    color: black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: solid rgb(110, 167, 173) 2px;
    background-color: rgb(110, 167, 173);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.editarform {
    font-family: "Roboto", sans-serif;
    height: 800px !important;
}

.editarformtitulo {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 670px) {
    .tablacont {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 597px) {
    .tablacont {
        margin-top: 100px;
    }
}

.tabla-admin {
    background-color: white !important;
    border: rgb(110, 167, 173) solid 2px;
}