.carrito-body {
    height: 100vh !important;
}

.container-carrito {
    display: flex;
    justify-content: center;
}

.carrito-box {
    margin-top: 145px;
    width: 1250px;
    height: 750px;
    border: rgb(110, 167, 173) 2px solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
}

.carrito-titulo{
    width: 100%;
    height: 80px;
    border-bottom: cadetblue 1px solid ;
    text-align: start;
}

.carrito-cards {
    display: flex;
    justify-content: center;
}

.carrito-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    margin-top: 50px;
    width: 1160px;
    height: 240px;
    border: rgb(110, 167, 173) 1px solid;
}

.cc-img {
    margin: auto;
    margin-right: 940px;
    justify-content: start;
    width: 200px;
    height: 200px;
    border: rgb(110, 167, 173) 1px solid;
}