.body-pro {
    height: 100%;
}

.cards-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.p-container {
    margin-top: 150px;
    margin-bottom: 200px;
}

.card-cont2 {
    border: rgb(110, 167, 173) solid 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 70px;
    transition: 0.2s;
    cursor: pointer;
    text-align: start;
    max-width: 420px !important;
    min-width: 420px !important;
    width: 420px !important;
    max-height: 500px !important;
    min-height: 500px !important;
    height: 500px !important;
}

.card-cont2:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 15px;
}

.cardp-imgcont {
    display: flex;
    justify-content: center !important;
}

.cards-pimg {
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
    max-height: 320px !important;
    min-height: 320px !important;
    height: 320px !important;
    border-bottom: rgb(110, 167, 173) solid 1px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.nav-filtro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-form {
    display: flex;
    flex-wrap: wrap;
}

.busqueda-productos {
    border: none;
    border: rgb(110, 167, 173) solid 1px;
}

.busqueda-productos:hover {
    background-color: rgba(110, 167, 173, 0.363);
}

.module {
    width: 250px;
    margin: 0 0 1em 0;
    overflow: hidden;
    font-size: 15px;
}

.module p {
    margin: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

