.Carro-img { 
    height: 600px; 
    width: 1400px !important; 
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: rgb(153, 171, 173) solid 2px;
    margin: auto !important;
    margin-top: 145px !important;
}

.Carro {
    margin: auto !important;
}