.Carro-img { 
    height: 700px; 
    width: 1600px !important; 
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: rgb(153, 171, 173) solid 2px;
    margin: auto !important;
    margin-top: 110px !important;
}

.Carro {
    margin: auto !important;
    box-shadow: black 10px;
}