.inicio {
    text-align: left;
}

.inicio-titulo {
    top: -10px !important;
    margin-bottom: 80px;
    font-size: 50px;
    text-align: center;
    color: #000000;
    font-family: "Roboto", sans-serif !important;
}

.inicio-titulo p {
    border-bottom: rgb(110, 167, 173) solid 1px;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 0px;
}

.inicio-titulo2 {
    margin-left: 150px;
    font-size: 50px;
    text-align: start;
    margin-top: 95px;
    color: #000000;
    text-shadow: 4px 3px 0 #7a7a7a;
    font-family: "Roboto", sans-serif !important;
    margin-right: 150px;
}

.inicio-titulo2 p {
    border-bottom: rgb(110, 167, 173) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 0px;
}

.card-flex {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    justify-content: space-around !important;
    text-decoration: none !important;
    margin-bottom: 50px;
    margin-top: 30px;
}

.card-cont {
    border: rgb(110, 167, 173) solid 2px;
    background-color: white !important;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    transition: 0.2s;
    cursor: pointer;
}

.card-cont:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 15px;
}

.card-img {
    border: rgb(110, 167, 173) solid 1px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.global-btn {
    border-radius: 0px;
    background-color: white;
    border: rgb(110, 167, 173) solid 1px;
    box-shadow: rgb(110, 167, 173) -2px 3px 4px;
}

.global-btn:hover {
    box-shadow: rgb(110, 167, 173) 3px -3px 4px;
}

.card-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(0.9);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.h-cardscontainer {
    margin-top: 90px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.horizontal-card {
    background-color: white !important;
    margin-left: 330px !important;
    margin-bottom: 60px !important;
    width: 1150px;
    height: 180px;
    border: rgb(110, 167, 173) solid 1px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 15px;
    transition: 0.2s !important;
    cursor: pointer;
}

.horizontal-card2 {
    background-color: white !important;
    margin-right: 330px !important;
    margin-bottom: 60px !important;
    width: 1150px;
    height: 180px;
    border: rgb(110, 167, 173) solid 1px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 15px;
    transition: 0.2s !important;
    cursor: pointer;
}

.horizontal-card:hover {
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s !important;
}

.horizontal-card2:hover {
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s !important;
}

.h-cardtitulo {
    font-size: 35px;
    color: black;
}

.h-cardcont {
    margin-left: 10px;
    width: 800px;
}

.h-cardimg {
    margin: auto;
}

.h-cardimg img {
    height: 178px;
    border-radius: 10px;
}

@media only screen and (max-width: 1400px) {
    .inicio {
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 1400px) {
    .inicio-titulo {
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 50px !important;
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 1400px) {
    .inicio-titulo2 {
        font-size: 40px !important;
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 50px !important;
    }
}

@media only screen and (max-width: 1400px) {
    .inicio-titulo p {
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 1600px) {
    .horizontal-card {
        margin-bottom: 30px !important;
        max-width: 100% !important;
        height: 100% !important;
        margin: auto !important;
        margin-bottom: 85px !important;
    }
}

@media only screen and (max-width: 1600px) {
    .horizontal-card2 {
        margin-bottom: 30px !important;
        margin: auto !important;
        height: 100% !important;
        max-width: 100% !important;
        margin-bottom: 85px !important;
    }
}

@media only screen and (max-width: 1400px) {
    .h-cardimg img {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 1150px) {
    .horizontal-card {
        display: flex !important;
        flex-wrap: wrap !important;
    }
}

@media only screen and (max-width: 1150px) {
    .h-cardimg img {
        margin: 20px 20px 20px 20px !important;
    }
}

@media only screen and (max-width: 785px) {
    .horizontal-card2 {
        display: flex !important;
        flex-wrap: wrap !important;
    }
}

@media only screen and (max-width: 375px) {
    .horizontal-card {
        margin: auto !important;
        margin-bottom: 30px !important;
        width: 310px;
    }
}

@media only screen and (max-width: 375px) {
    .horizontal-card2 {
        margin-bottom: 30px !important;
        width: 310px;
    }
}

@media only screen and (max-width: 375px) {
    .h-cardimg img {
        margin-bottom: 15px !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 375px) {
    .h-cardimg {
        box-shadow: teal 2pc solid;
    }
}

@media only screen and (max-width: 375px) {
    .card-cont {
        width: 15rem !important;
    }
}

