.App {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(
    135deg,
    rgb(253, 253, 255) 0%,
    rgb(253, 253, 255) 1%,
    rgb(239, 241, 236) 1%,
    rgb(239, 241, 236) 56%,
    rgb(163, 192, 204) 56%,
    rgb(163, 192, 204) 75%,
    rgb(141, 182, 210) 75%,
    rgb(141, 182, 210) 80%,
    rgb(126, 153, 204) 80%,
    rgb(126, 153, 204) 87%,
    rgb(73, 110, 160) 87%,
    rgb(73, 110, 160) 97%,
    rgb(60, 49, 165) 97%,
    rgb(60, 49, 165) 100%
  );
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
